<!-- begin footer  -->
	<footer class="footer">
		<nav class="footer__nav">
			<a href="#">ENGAGEMENT</a>   |   <a href="#">JEWELRY</a>    |   <a href="#">COLLECTION</a>   |   <a href="#">SWATCHES</a>    |    <a href="#">ACCESSORIES</a>    |    <a href="#">GIFTS</a>
		</nav>
		<div class="footer__bottom">
			<div class="footer__logo"></div>
			<div class="footer__left">
				<p>Over time, fine jewelry can become a treasured family heirloom if it is cared for properly. Dust, pollution and daily wear all conspire to cloud the brilliance of gemstones.</p>
			</div>
			<div class="footer__right">
				<div class="socials socials_footer">
					<a href="#" class="socials__pi"><span>Follow us</span></a>
					<a href="#" class="socials__fb"><span>Follow us</span></a>
					<a href="#" class="socials__in"><span>Follow us</span></a>
					<div class="socials__text">Follow us</div>
				</div>
				
			</div>
			<nav class="footer__leftnav">
				<a href="#">ABOUT GOFT</a>   |   <a href="#">TECHNOLOGIES</a>   |    <a href="#">ACTUALS</a>
			</nav>
			<nav class="footer__rightnav">
				<a href="#">WHERE TO BUY</a>  |    <a href="#">CONTACTS</a>
			</nav>
		</div>
	</footer>
	<!-- end footer -->