<!-- begin header  -->
<div class="header">
	<div class="header__in">
		<nav class="header__leftnav">
			<a href="#">ABOUT GOFT</a>   |   <a href="#">TECHNOLOGIES</a>   |    <a href="#">ACTUALS</a>
		</nav>
		<nav class="header__rightnav">
			<a href="#">WHERE TO BUY</a>  |    <a href="#">CONTACTS</a>
		</nav>
		<a href='#' class="header__logo">
			Goft
		</a>
		<div class="header__sublogo">
			<div class="header__sublogoleft"></div>
			<a href="#" class="header__goft"></a>
			<div class="header__sublogoright"></div>
		</div>
		<div class="header__motto">
			THE PERFECT PRESENT
		</div>
		<div class="socials socials_header">
			<a href="#" class="socials__pi"><i class="icon icon-pi"></i></a>
			<a href="#" class="socials__fb"><i class="icon icon-facebook"></i></a>
			<a href="#" class="socials__in"><i class="icon icon-insta"></i></a>
		</div>

		
	</div>
	
	<nav class="nav">
		<a href="#">ENGAGEMENT</a>   |   <a href="#">JEWELRY</a>    |   <a href="#">COLLECTION</a>   |   <a href="#">SWATCHES</a>    |    <a href="#">ACCESSORIES</a>    |    <a href="#">GIFTS</a>
	</nav>
</div>
<!-- end header -->