<!-- BEGIN subdirectory -->
<ul class="subdirectory">
	<li><a href="#">bracelets</a></li>
	<li><span>&middot</span><a href="#">jewelry rings</a></li>
	<li><span>&middot</span><a href="#">woman collecctions</a></li>
	<li><span>&middot</span><a href="#">swatches swatches</a></li>
	<li><span>&middot</span><a href="#">small accessories</a></li>
	<li><span>&middot</span><a href="#">special gifts</a></li>
	<li><span>&middot</span><a href="#">other stuff</a></li>
	<li><span>&middot</span><a href="#">other words</a></li>
</ul>
<!-- END subdirectory -->